In [137]:
import pandas as pd
import numpy as np

**1_6_1** \\
Пересчитаем число ног у героев игры Dota2! Сгруппируйте героев из датасэта по числу их ног (колонка legs), и заполните их число в задании ниже.

Данные взяты отсюда, на этом же сайте можно найти больше разнообразных данных по Dota2.

In [54]:
dota = pd.read_csv('https://stepik.org/media/attachments/course/4852/dota_hero_stats.csv')

Число героев с "0 ног" - \\
Число героев с 2-мя ногами - \\
Число героев с 4-мя ногами - \\
Число героев с 6-ю ногами - \\
Число героев с 8-ю ногами - \\

In [55]:
legs = dota.value_counts('legs')
legs

legs
2    95
0    11
4     7
6     3
8     1
dtype: int64

**1_6_2** \\
К нам поступили данные из бухгалтерии о заработках Лупы и Пупы за разные задачи! Посмотрите у кого из них больше средний заработок в различных категориях (колонка Type) и заполните таблицу, указывая исполнителя с большим заработком в каждой из категорий.

In [24]:
accountancy = pd.read_csv('https://stepik.org/media/attachments/course/4852/accountancy.csv')
accountancy.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [50]:
accountancy.groupby(['Type','Executor']).mean().unstack().drop('Unnamed: 0', axis=1)

              Salary
Executor       Loopa        Pupa
Type
A          58.000000  160.833333
B         145.166667   77.000000
C         154.333333   74.500000
D         137.714286  146.500000
E         164.000000  131.200000
F         238.000000  136.250000

In [51]:
accountancy.pivot_table(values = "Salary", index = "Executor", columns = "Type")

Type               A           B           C           D      E       F
Executor
Loopa      58.000000  145.166667  154.333333  137.714286  164.0  238.00
Pupa      160.833333   77.000000   74.500000  146.500000  131.2  136.25

**1_6_3** \\
Продолжим исследование героев Dota2. Сгруппируйте по колонкам attack_type и primary_attr и выберите самый распространённый набор характеристик.

In [87]:
dota.value_counts(['attack_type','primary_attr'])

attack_type  primary_attr
Ranged       int             40
Melee        str             35
             agi             19
Ranged       agi             18
             str              3
Melee        int              2
dtype: int64

In [88]:
dota.value_counts(['attack_type','primary_attr']).max()

40

**1_6_4** \\
Аспирант Ростислав изучает метаболом водорослей и получил такую табличку. В ней он записал вид каждой водоросли, её род (группа, объединяющая близкие виды), группа (ещё одно объединение водорослей в крупные фракции) и концентрации анализируемых веществ.

Помогите Ростиславу найти среднюю концентрацию каждого из веществ в каждом из родов (колонка genus)! Для этого проведите группировку датафрэйма, сохранённого в переменной concentrations, и примените метод, сохранив результат в переменной mean_concentrations.

Модуль pandas уже импортирован.

In [111]:
concentrations = pd.read_csv('http://stepik.org/media/attachments/course/4852/algae.csv')
concentrations

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [99]:
mean_concentrations = concentrations.groupby('genus').aggregate({'sucrose':'mean','alanin':'mean','citrate':'mean',
                                                                  'glucose':'mean','oleic_acid':'mean'})
mean_concentrations

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

In [102]:
#Для красоты в дальнейшем использовании, не прикреплялось, как решение:
mean_concentrations = mean_concentrations.add_prefix('mean_')
mean_concentrations

,mean_sucrose,mean_alanin,mean_citrate,mean_glucose,mean_oleic_acid
genus,,,,,
Ascophyllum,6.825467,0.875429,5.253527,3.414961,2.432526
Cladophora,4.008792,3.997055,5.288311,2.800276,2.263472
Fucus,4.355112,3.566411,4.214878,2.814803,3.367647
Palmaria,0.704580,3.176440,5.573905,3.242090,2.245538
Saccharina,4.183596,3.524207,3.346710,4.980594,4.487252

**1_6_4** \\
Пользуясь предыдущими данными, укажите через пробел (без запятых) чему равны минимальная, средняя и максимальная концентрации аланина (alanin) среди видов рода Fucus. Округлите до 2-ого знака, десятичным разделителем является точка.

Формат ответа:
0.55 6.77 7.48

In [125]:
concentrations.query("genus == 'Fucus'").alanin.describe().loc[['min','mean','max']].round(2)

min     0.35
mean    3.57
max     6.64
Name: alanin, dtype: float64

**1_6_5** \\
Сгруппируйте данные по переменной group и соотнесите вопросы с ответами

In [131]:
data = pd.read_csv('http://stepik.org/media/attachments/course/4852/algae.csv')

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804

In [135]:
#Число видов бурых, зелёных и красных водорослей
data.value_counts('group')

group
brown    6
green    3
red      1
dtype: int64

In [146]:
#Размах (максимум - минимум) сахарозы в бурых, зелёных и красных водорослях
data.groupby('group').aggregate({'sucrose': lambda x: max(x) - min(x) })

        sucrose
group
brown  5.189345
green  3.259662
red    0.000000

In [140]:
#Дисперсия концентрации цитрата в бурых, зелёных и красных водорослях
data.groupby('group').var()

<ipython-input-140-5c5a4ba71d09>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.var is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data.groupby('group').var()

        sucrose    alanin   citrate   glucose  oleic_acid
group
brown  5.459098  7.220351  5.468942  1.767756    4.385233
green  2.672626  7.059917  3.950113  0.266265    0.540388
red         NaN       NaN       NaN       NaN         NaN